Click below link to go to Admin:  <br>

<%= link_to "Go to Admin", admin_root_path %> <br>

<h2> Username and Password for <span class="label label-info">admin</span> login: </h2>
User name: <strong>itu@itu.org </strong> <br>
password : <strong>test123 </strong>

<hr>
You can go to admin to create new students and enroll them to new classes in admin panel.
<hr>
or
<h2> Username and Password for <span class="label label-info">student</span> login: </h2>
User name: <strong>test1@itu.org</strong> <br>
password : <strong>test123 </strong>
<hr>
User name: <strong>test2@itu.org</strong> <br>
password : <strong>test123 </strong>

<hr>
students can login to see the assignment or lectures assigned to them and submit the answers.
<hr>